@using Microsoft.AspNetCore.Identity;
@model ProfileVM
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Edit profile";
}

<section class="cld-bg-light">
    <div class="text-center">
        <br />
        
        @if (Model.isCurrentUser == true)
        {
            <p>This is the current User</p>
        }
        else
        {
            <p>not the current user</p>
        }

        <br />
        <br />
    </div>
</section>
