@{
    ViewData["Title"] = "Not Found";
}

<section class="cld-bg-light">
    <div class="text-center">
        <h1 class="display-4">Not Found</h1>
        <h5>The user you have entered was not found, try another username please.</h5>
    </div>
</section>