@{
    ViewData["Title"] = "Watch Party";
}

<section class="text-center cld-bg-light">
	<div class="container text-center">
		<div class="row align-items-center text-start">
			<div class="col pb-5">
				<h1 class="fw-bold">Where Entertainment Meets Community</h1>
				<p>Your place for all things film and television</p>
				<a class="btn cld-btn-primary text-light btn-lg px-3 pb-2" asp-area="Identity" asp-page="/Account/Register" role="button">
					Get Started Today
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
					</svg>
				</a>
			</div>
			<div class="col">
				<img class="text-primary" src="@Url.Content("~/img/Telecommuting-amico.svg")" alt="Bootstrap" width="auto" height="75%">
			</div>
		</div>
	</div>
</section>
