@{
    ViewData["Title"] = "Watch Party";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Social Watch Party</h1>
    <p class="mt-5">In the future you will able to interact with others discussing about tv shows and movies.</p>
    <p> In addition you will be able to watch shows together synchronously with others while being able to communicate with them.</p>
</div>
