@using WatchParty.ViewModels;
@model ShowDetailsVM
@{
    ViewData["Title"] = "Detailed Search";
}

<section class="cld-bg-light" style="text-align:center">
    <br />

    @if (Model == null)
    {
        <p>model is null</p>

    } else {

        <h1 id="title-details">@Model.name</h1>

        <h4>Title ID: @Model.id</h4>
        <p>Release date: @Model.releaseDate</p>


    }
    
    <p id="descriptions-details"></p>

    <br />
    <br />
</section>

@section Scripts
{
	<script type="text/javascript" src="~/js/searchDetails.js"></script>
	<script>
		console.log("loaded Scripts section");
	</script>
}