@model WatchParty.Models.Post

@{
    ViewData["Title"] = "Create Post";
}

<div class="row cld-bg-light">
    <div class="row text-center">
        <h1>Create Post</h1>
        <hr />
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create" method="Post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-2">
                    <textarea asp-for="PostTitle" class="form-control" rows="2" cols="30" placeholder="Enter your title here"></textarea>
                    <span asp-validation-for="PostTitle" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <textarea asp-for="PostDescription" class="form-control" rows="20" cols="30" placeholder="Enter your description here"></textarea>
                    <span asp-validation-for="PostDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary create-post-submit-btn" />
                </div>
            </form>
        </div>
    </div>
</div>