@model WatchParty.Models.WatchPartyGroup

@{
    ViewData["Title"] = "Create Group";
}

<div class="text-center cld-bg-light row">
    <div class="col">
        <h1>Create Watch Party Group</h1>
    </div>
</div>