@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="cld-bg-light">
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row align-content-center">
                <img src="@Url.Content("~/img/popcorn.svg")" alt="Logo" width="60" height="48" class="center shake-img">
            </div>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">Welcome to Social Watch Party</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                    <label asp-for="Input.UserName">Username</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg cld-btn-primary text-light">Register</button>
            </form>
            <br />
            <h5 class="text-center">or</h5>
            <br />
            <div>
                <p>
                    <a class="w-100 btn btn-lg cld-btn-secondary text-light" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log In Here</a>
                </p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <br>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
