@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}
<section class="bg-light-subtle register-confirmation-container">
    <div class="container">
        <div class="row">
            <div class="col py-3">
                <h1 class="fw-bold pt-5">@ViewData["Title"]</h1>
                <p>
                    Please check your email (<strong>@Model.Email</strong>) to confirm your account. If you do not receive an email, please check your spam folder.
                </p>
                <img class="text-primary mx-auto d-block pb-5" src="@Url.Content("~/img/email-campaign-amico.svg")" alt="Bootstrap" width="30%" height="auto">
            </div>
        </div>
        
    </div>
</section>
