@using Microsoft.AspNetCore.Identity
@using WatchParty.Areas.Identity.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
@*    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
*@
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" id="logout-button" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Notification" asp-action="Index">
            <i class="bi bi-bell-fill"></i>
            @*if the user has any notifications*@
            @*<span class="badge rounded-pill badge-notification bg-danger">1</span>*@
        </a>
    </li>

@*    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="notificationDropdown" role="button"
        data-mdb-toggle="dropdown" aria-expanded="false"><i class="bi bi-bell-fill"></i></a>
        <!-- Dropdown menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
            <li>
                <a class="dropdown-item" href="#">Notification 1</a>
            </li>

            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Notification" asp-action="Index">See all notifications</a>
            </li>
        </ul>
    </li>*@

        

    <li class="nav-item">
        <a class="nav-link text-dark" id="profile-link" asp-area="" asp-controller="User" asp-action="Profile" asp-route-username="@User.Identity?.Name">@User.Identity?.Name</a>
    </li>




}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
