@using Microsoft.AspNetCore.Identity
@using WatchParty.Areas.Identity.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark-emphasis" asp-area="" asp-controller="Post" asp-action="Index">View Your Feed</a>
            
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark-emphasis" asp-area="" asp-controller="WatchList" asp-action="Index" asp-route-username="@User.Identity?.Name">Watch Lists</a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark-emphasis" asp-area="" asp-controller="Home" asp-action="FindUsers">Find Users</a>
    </li>
}
