@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model WatchParty.ViewModels.NotificationVM;

@{
    ViewData["Title"] = "Index";
}

<section class="cld-bg-light" style="text-align:center">
    <br />
    <br />
    <h1>@(Model.watcher.Username)'s Notifications</h1>
    <br>


    <div class="row">
    </div>

</section>
